body{
    background-color: white;
    margin:0 ;
}

span{
    font-family: cursive;
    color:#922346;
}

  h1{
    font-family: cursive;
    font-optical-sizing: auto;
    font-style: normal;
 }

.grid-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(100px,1fr);
    grid-auto-rows: minmax(100px,1fr);
    gap:20px;
    padding:20px;
    margin-bottom: 100px;
    padding-bottom: 75px;
    border-bottom: #D9ABAB 2px solid;
}

.blog-name{
    background-color: white;
    border:#922346 solid 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.blog-name:hover{
    background-color:#D9ABAB;
    border: solid #F4D9D0 4px;
    color:black;
    font-size: 22px;

}
.gradient-background {
    text-align: left;
    color: black;
    background: linear-gradient(
        90deg,
        #D9ABAB,
        #F4D9D0
    );
    animation: gradient-shift 5s infinite alternate ease-in-out;
}

img{
    width:250px;
}

@keyframes gradient-shift {
    0% {
        background: linear-gradient(90deg,  #D9ABAB,
        #F4D9D0);
    }
    100% {
        background: linear-gradient(90deg,  #D9ABAB,
        #F4D9D0);
    }
}

.gradient-background-2{
    text-align: justify;
    color: black;
    background: linear-gradient(
        90deg,
        white,
        #F4D9D0
    );
    animation: gradient-shift-2 1s infinite alternate ease-in-out;
}
@keyframes gradient-shift-2{
    0% {
        background: linear-gradient(90deg,  #ffffff,
        #F4D9D0);
    }
    100% {
        background: linear-gradient(90deg,  #ffffff,
        #F4D9D0);
    }
}

.actual-blog, p, .section-2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

#addBlog h2{
    margin-left: 0;

}
#addBlog form{
    display: flex;
    flex-direction: column;
    background-color:#F4D9D0;
    border:#922346 solid 2px;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    width:500px;
    padding: 20px;
    margin-top: 20px;

}

.form-btn{
    width: max-content;
    margin-top: 4px;
    align-self: end;
}

#addBlog{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footerSec{
   margin-right: 0;
   margin-left: 0;
}


footer{
    justify-self: flex-end;
}


#blog-name{
    margin-bottom: 28px;
    margin-top: 10px;
}

.actual-blog{
    align-self: center;
    border:#922346 solid 2px;
    padding: 20px;
    margin-right: 5px;
    min-width: 400px;
    max-width: 600px;
    min-height: fit-content;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.hearts{
    align-self: center;
}

#blog-page{
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

#footer-end{
     margin-top: auto;
}

#write, #blogs, #home{
    color:rgba(33, 37, 41, 0.75)
}

#home{
    background-color: #F4D9D0;
}
.wrapper-blog{
    display: flex;
    flex-direction: column;
    width:max-content;
    margin-left: auto; 
    margin-right: auto;
}

#delete-btn{
    width: max-content;
    align-self: flex-end;
    margin-left: 3px;
}

.forced-input{
    display: none;
}

.buttons{
    display: flex;
   justify-content: flex-end;
   gap: 3px;
   margin-right: 10px;
}
@media(max-width:600px){
    .grid-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: minmax(100px,1fr);
        grid-auto-rows: minmax(100px,1fr);
        gap:20px;
        padding:20px;
        margin-bottom: 100px;
        padding-bottom: 75px;
        border-bottom: #D9ABAB 2px solid;

    }
    form{
        width:400px;
    }
    .actual-blog{
        min-width: 300px;
        max-width: 400px;
    }
}
@media(max-width:510px){
    .grid-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(100px,1fr);
        grid-auto-rows: minmax(100px,1fr);
        gap:20px;
        padding:20px;
        margin-bottom: 100px;
        padding-bottom: 75px;
        border-bottom: #D9ABAB 2px solid;
    }

    form{
        width:300px;
    }
}

